{{#each this}}
<div class={{@key}}>
  <h4>Name: {{name}}</h4>
  <h4>Age: {{age}}</h4>
  <h4>Gender: {{gender}}</h4>
  <label>
    Skills
    {{#each skills}}
      <h5>{{this}}<h5>
    {{/each}}
  </label>
  <button type='button' class='delete'>Assassinate this member</button>
</div>
{{/each}}